<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger App </title>
    <link rel="stylesheet" href="../../public/assets/css/burger_style.css">
    <script src="/burger/public/assets/js/burgers.js"></script>
     {{!-- <link href="/burger/public/assets/css/burger_style.css" rel="stylesheet">
    --}}
</head>

<style>
    body{
        background-image: url('../../public/assets/image/99309-food-burgers.jpeg');
    }
</style>
<body>
    {{{body}}}
    
</body>
</html>